<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisis de Perfil</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>

<header>
    <nav>
        <!-- Checkbox for toggling menu -->
        <input type="checkbox" id="check">
        <!-- Menu icon -->
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <!-- Site logo -->
        <label class="logo"><img src="../static/10262827.png" alt=""></label>
        <!-- Navigation links -->
      </nav>
  </header>
  
  <!-- Sección Hero -->
  <section class="hero">
    <div class="content">
        <h1>Subir un archivo CSV para análisis de perfiles</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="container-input">
                <input type="file" name="csv_file" id="file-6" class="inputfile inputfile-6" />
                <label for="file-6" class="custom-label">
                    <figure>
                        <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17">
                            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                        </svg>
                    </figure>
                    <span class="iborrainputfile">Subir archivo</span>
                </label>
                <button type="submit" class="custom-button">Subir</button>
            </div>
        </form>
    </div>
    <div class="image">
      <img src="../static/2620325.png" alt="Estudiantes leyendo">
    </div>
  </section>


  
  
  
</body>
</html>
